add Item

<form>

		<label for="name">name</label>
		<input type="text" [(ngModel)]="item.name" name="name">
		<label for="name">price</label>
		<input type="text" [(ngModel)]="item.price" name="price">

		<label for="name">detail</label>
		<input type="text" [(ngModel)]="item.detail" name="detail">
		<label for="name">quantity</label>
    <input type="text" [(ngModel)]="item.quantity" name="quantity">
    <br>

		<label for="name">type</label>
    <input type="radio" [(ngModel)]="item.type" name="type" value="antique"> Antique
    <input type="radio" [(ngModel)]="item.type" name="type" value="fashion" > fashion

    <br>
 
    <div *ngIf="outer(item.type)">
      <div *ngIf="antique(item.type)"> 
        <label for="name">category</label>
        <br>
        <input type="radio" [(ngModel)]="item.category" name="kitchen" value="kitchen"> kitchen <br>
        <input type="radio" [(ngModel)]="item.category" name="sofa" value="sofa"> sofa<br>
        <input type="radio" [(ngModel)]="item.category" name="lamp" value="lamp"> lamp <br>
        <input type="radio" [(ngModel)]="item.category" name="painting" value="painting"> painting<br>  
      </div>

      <div *ngIf="!antique(item.type)"> 
        <label for="name">category</label>
        <br>
        <input type="radio" [(ngModel)]="item.category" name="dress" value="dress"> dress <br>
        <input type="radio" [(ngModel)]="item.category" name="top" value="top"> top<br>
        <input type="radio" [(ngModel)]="item.category" name="bottom" value="bottom"> bottom <br>
        <input type="radio" [(ngModel)]="item.category" name="shoes" value="shoes"> shoes<br>  
      </div>
    </div>

    <button class="btn btn-success" (click)="addItem()">add Item</button>
    
    
</form>