<div class="shop-main">
  <app-navbar></app-navbar>


  

  <div class="cart-view">
    <h2 class="heading-secondary">
        Your Shopping Cart
    </h2>
    <div class="cart-view__each" *ngFor="let cartItem of currentCartItems">
        <a routerLinkActive="active" routerLink="/item" class="division">
          <div class="cart-view__each--img"><img src="assets/img/frame.png" alt=""></div>
          <div class="division__2">
          <div class="cart-view__each--name"> {{ cartItem.item.name}} </div>
          <div class="cart-view__each--price"> {{ cartItem.item.price }} </div>
          <div class="cart-view__each--comment"> {{ cartItem.item.detail }} </div>
          <div class="cart-view__each--quantity"> {{ cartItem.qty }} </div>
          <div class="cart-view__each--subTotal"> {{ cartItem.subTotal }} </div>
          

            </div>
        </a>
          <button class="btn cart-view__each--btn" >
              <svg class="btn__icon">
                  <use xlink:href="assets/img/sprite.svg#.iconnew-message"></use>
              </svg>
              change quantity</button>
          <button class="btn cart-view__each--btn" (click)="remove(cartItem)">
              <svg class="btn__icon">
                  <use xlink:href="assets/img/sprite.svg#.iconcup"></use>
              </svg>
              remove</button>


      </div> 

    <div class="cart-view__total">
      Grand Total $  {{currentCart.grandTotal}}
    </div>
   

    <div class="cart-view__btn">
        <button class="btn cart-view__btn--btn"> 
            <svg class="btn__icon">
                <use xlink:href="assets/img/sprite.svg#.iconback"></use>
            </svg>
            Back to Shop </button> 
        <button class="btn cart-view__btn--btn">
            <svg class="btn__icon">
                <use xlink:href="assets/img/sprite.svg#.iconcredit"></use>
            </svg>
            check out</button>
    </div>
  </div>
</div>