:root {
    --color-light2: #f9f3e4 ;
    --color-light1: #b09f8f ;
    --color-primary: #875945;
    --color-dark1:#3a2626 ;
    --color-dark2: #1a0c0c ;

    --shadow: 0 2rem 6rem rgba(0,0,0,.5);
}

* { 
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family :'Nunito', sans-serif;
    font-weight: 300;
    color: #f4faf4;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-light2), var(--color-dark1));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

}