.logo {
    height: 4rem;
}

.user-nav {
    &__icon{
        width: 2.5rem;
        height: 2.5rem;
    }
}



////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;


    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-primary-lightest;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-primary-light;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-dark-2;
        }
    }

    &__input:focus + &__button {
        background-color: $color-primary-light;
    }

    &__button {
        border: none;
        background-color: $color-primary-lightest;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}


/////////////////////////////////////////// navbar
.type {
    margin-top: 3.5rem;
    margin-left: 2.5rem;
    font-size: 2.5rem;
    color: $color-primary;
    font-weight: 300;
   
}

.categories {
    font-size: 1.5rem;
    text-decoration: none;

    &__link{
        color: $color-primary-nav;
    }
    
}



/////////////////////////////////////////////  shop-view
.shop-view{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5rem;
    grid-column-gap: 7rem;
    padding: 5rem;

    &__each{
        display: block;

        &--img {
            &-1{
                display: inline-block; 
            }
            &-2{
                display: none;  
            }
        }

        &:hover{
            .shop-view__each--img-1{
                display: none;
            }
            .shop-view__each--img-2{   
                display: inline-block;   
            }
            .shop-view__detail {
                transform: scale(1.05);
                transition: all .1s;

            }
        }
    }

    &__detail{
        color: $color-grey-dark-2;
        display: grid;
        justify-items: start;
        margin-left: 2.4rem;
        width: 90%;


        &--price{
          
        }
    
        &--comment {
    
        }
    }

    
    
}

.shop-main {
    display:flex;
}


///////////////////////////// item-view


.item-view__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
}
.item-view {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.item-view__img {
    width :30rem;
}




////////////////////////////////dropdown menu

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


