.logo {
    height: 4rem;
}

.user-nav {
    &__icon{
        width: 2.5rem;
        height: 2.5rem;
    }
}

///////////////////////////Home 
.home-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    min-height: 100rem;
    background-image: linear-gradient(to right bottom, rgba(47,36,28, .90), rgba(47,36,28, .90)), url("assets/img/home-bg.png");
    background-size: cover;

    .chandelier{
        width: 45rem;
        &__on{
            display: none;
        }
    
        &__off{
            display: inline-block;
        }
    
        &:hover,
        &:active{
            .chandelier__on{
                display: inline-block;
            }
        
            .chandelier__off{
                display: none;
            }
        }
    }

    
}






////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;


    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-primary-lightest;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-primary-lightest;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-dark-2;
        }
    }

    &__input:focus + &__button {
        background-color: $color-primary-lightest;
    }

    &__button {
        border: none;
        background-color: $color-primary-lightest;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}


/////////////////////////////////////////// navbar
@font-face {
    font-family: "Pinyon";
    src: url("assets/PinyonScript-Regular.ttf");
}

.type {
    margin-top: 3.5rem;
    margin-left: 2.5rem;


    &__link{
        color: $color-primary-light;
    }

    &__btn{
        font-size: 3.5rem;
        color: $color-primary;
        font-weight: 300;
        font-family: "Pinyon";
        background-color: transparent;
        border: none;
        
        &:active{
            border: none;
        }
    }
   
}

.categories {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: $font-primary;

    &__link{
        color: $color-primary-nav;
    }
    
}

.legal{
    
    font-size: 1.2rem;
    color: $color-primary;
    position: fixed;
    bottom: 0;
    margin-left: 0.5rem;
}



/////////////////////////////////////////////  shop-view

.shop-category{
    margin-top: 1rem;
    margin-left: 2.5rem;
}
.shop-view{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
    padding: 2rem 5rem;

    &__each{
    
        &--img {
            &-1{
                display: inline-block; 
            }
            &-2{
                display: none;  
            }
        }

        &:hover{
            .shop-view__each--img-1{
                display: none;
            }
            .shop-view__each--img-2{   
                display: inline-block;   
            }
            .shop-view__detail {
                transform: scale(1.05);
                transition: all .1s;

            }
        }
    }

    &__detail{
        color: $color-grey-dark-2;
        display: grid;
        justify-items: start;
        margin-left: 2.4rem;
        width: 90%;


        &--price{
          
        }
    
        &--comment {
    
        }
    }
    
}




///////////////////////////// item-view



.item-view {
    display: grid;
    grid-template-columns: 50rem repeat(1, 37rem);
    grid-gap: 3.5rem;
    margin-left: 10rem;

    margin-top: 2rem;

    // &__gallery{
    //     margin-top: 10rem;
    // }
    

    &__img{
        width: 100%;
    }

    &__detail{
        margin-top: 3.5rem;
        padding: 2rem;
        &--name{
            font-size: $font-lg;

        }

        &--price{
            font-size: $font-md;

        }

        &--points{
            font-size: $font-sm;
            
            
        }

        &--quantity{
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        &--label{
            
            font-size: $font-sm;
            font-style: bold;
        }

        &--input{
            width:15%;
        }
        
        &--btn{
            margin-top: 1.5rem;
            width:20.5rem;
        }
        
    }

}

.btn{
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.7rem 3rem;
    cursor: pointer;
    transition: all .2s;
    

    &:hover {
        background-color: $color-primary-dark;
    }

    &__icon{
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 1rem;
        fill: $color-primary-lightest;
    }
}

/////////////////////////////////cart view

.heading-secondary{
    font-size: 3.5rem;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block; 
    background-image: linear-gradient(to right, $color-primary-nav, $color-primary-dark);
    -webkit-background-clip: text; 
    color: transparent; 
    letter-spacing: .2rem;
 
}
.cart-view{

    &__each{
        display: flex;
        flex-direction: row;
        
        &--img{
            margin-top: 3.5rem;
            width: 25rem;
        }
        &--name{
            margin-left: 1.5rem;

        }
        &--price{
            margin-left: 1.5rem;
        }
    
        &--comment {
            margin-left: 1.5rem;
        }

        &--quantity {
            margin-left: 1.5rem;
        }
        &--btn{
            margin-top: 1rem;
            margin-left: 1rem;
            font-size: 1.2rem;
            padding: 1rem 1.7rem 1.5rem 1.7rem;

        }
    }

    &__total{
        width: 130%;
        border-top: solid $color-primary-dark 1px;
        text-align: end;
        margin-top: 2.5rem;
        font-size: $font-md;
        

    }

    &__btn{
        width: 135%;
        display:flex;
        justify-content: space-around;
        margin-top: 1.5rem;

        &--btn{
            padding: 2rem 2.5rem;
            margin: 1rem;
            background-color: #544131;	

            &:hover,
            &:link{
                background-color: $color-primary-dark;
            }
        }
    }

}

.division{
    display: flex;
    align-items: center;
    margin-left: 2rem;

    &__2{
        margin-top: 3rem;
        margin-left: 2rem;
    }
}



////////////////////////////////dropdown menu

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

