.frame {
    background-color: $color-primary-lightest;
    max-width: 130rem;
    margin: 8rem auto;
    box-shadow:   var(--shadow);
    min-height: 100rem;
}

.header {
    background-color:  $color-primary-light;
    height: 7rem;

    display: grid;
    grid-template-columns: 5rem 30rem 50rem 30rem 10rem;
    align-items: center;

    &__logo{
        width: 5rem;
        height: 5rem;
        margin-left: 2rem; 
    }

    &__shop{
        margin-left: 3.5rem;
    }
    &__search{
        
    }

    &__login{
        display: grid;
        grid-template-columns: repeat(2, 6rem);
        justify-content: end;

        
    }

    &__icons {
        display: flex;
        justify-content: space-evenly;
        min-width : 15rem;
        
    }

    &__icon{
        width:2.5rem;
        height:2.5rem;
        fill: $color-primary-darkest;
    }

}

.navbar{
    background-image: linear-gradient( rgba(10,7,6, .93), rgba(47,36,28, .93));
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 0 0 18%;
    min-height: 100rem;
    min-width: 25rem;
    color: $color-grey-dark-2;
}

.shop-view__container {
display: flex;
flex-wrap: wrap;
padding: 5rem;
}

.item-view__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 80rem;
}

.shop-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.shop-main {
    display:flex;

}

.cart-main {
    display:flex;
    width: 100%;

}