<div class="shop-main">
  <app-navbar></app-navbar>

    <div class="item-view__container">
      <div class="item-view">
                      <!-- <div class="item-view__gallery">
                        <figure class="item-view__gallery--photo">
                            <img src="../../assets/img/gallery-1.jpg" alt="Photo of item 1" class="item-view__gallery--photo">
                        </figure>
                        <figure class="item-view__gallery--photo">
                                <img src="../../assets/img/gallery-2.jpg" alt="Photo of item 2" class="item-view__gallery--photo">
                        </figure>
                        <figure class="item-view__gallery--photo">
                                <img src="../../assets/img/gallery-3.jpg" alt="Photo of item 3" class="item-view__gallery--photo">
                        </figure>
                      </div> -->
          
        <div class="item-view__img"><img src="assets/img/frame-2.png" alt=""></div>
          
        <div class="item-view__detail">

          <div class="item-view__detail--name"> {{ item.name }} </div>
          <div class="item-view__detail--price"> {{ item.price }} </div>
          <div class="item-view__detail--points"> {{ item.detail }} </div>

          <form action="" class="item-view__detail--quantity">
            <label for="quantity" class="item-view__detail--label"> Quantity: </label>
            <input type="number" class="item-view__detail--input">
          </form>

          <button class="btn item-view__detail--btn" type="submit" (click)="addToCart()"> 
                <svg class="btn__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-cart"></use>
                </svg>

                add to cart
          </button>

            <button class="btn item-view__detail--btn" (click)=goBack()> 
                <svg class="btn__icon">
                    <use xlink:href="assets/img/sprite.svg#.iconback"></use>
                </svg>
                Back to Shop
            </button> 
        </div> 
      </div>
    </div>
</div>