<div class="shop-main">
    <nav class="navbar">
        <div class="type">Antiques
            <div class="categories">dishes</div>
            <div class="categories">table</div>
            <div class="categories">sofa</div>
        </div>
        <div class="type">Clothes
            <div class="categories">shoes</div>
            <div class="categories">jacket</div>
            <div class="categories">pants</div>
        </div>
    </nav>

<div class="shop-view__container">

  <div class="shop-view" *ngFor="let price of prices">
    <a routerLinkActive="active" routerLink="/item">
      <div class="shop-view__img"><img src="../../assets/logo.png" alt=""></div>
      
      <div class="shop-view__detail">
        <div class="shop-view__name"> Name </div>
        <div class="shop-view__price"> {{ price }} </div>
        <div class="shop-view__comment"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, autem. </div>
        <div class="shop-view__add-to-cart"> <button>add to cart</button>   or  <button>Buy Now!</button></div>
      </div>
    </a>
  </div>
</div>
</div>