
    <header class="header">
            <a class="header__logo" routerLinkActive="active" routerLink="/home"> <img src="../assets/chandelier-off.png" alt="logo" class ="logo"> </a>
            <div class="header__shop">
                    <a routerLinkActive="" class="header__shop" routerLink="/shop" >Shop</a>
                    <a routerLinkActive="" class="header__shop" routerLink="/admin">Shop</a>
            </div>
        

        <div class="header__search">
            <form action="#" class="header__search">
                <input type="text" class="search__input" placeholder="Search">
                <button class="search__button">
                    <svg class="search__icon">
                        <use xlink:href="assets/img/sprite.svg#icon-search"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="header__test"></div>

        <div class="header__login"*ngIf="!loggedIn">
            <a routerLinkActive="active" routerLink="/signin"> Sign In </a>
            <a routerLinkActive="active" routerLink="/signup"> Sign Up</a>
        </div>

        <div class="header__icons" *ngIf="loggedIn">
            <div class="header__icons-box dropdown">
                <svg class="header__icon dropbtn">
                    <use xlink:href="assets/img/sprite.svg#icon-user1"></use>
                </svg>
                <div class="dropdown-content">
                    <a routerLinkActive="active" routerLink="/profile">My profile</a>
                    <a routerLinkActive="active" routerLink="/myOrder">My orders</a>
                    <a routerLinkActive="active" routerLink="/logout">Log out</a>
                
                </div>
            </div>

            <a routerLinkActive="active" routerLink="/cart">
              <div class="header__icons-box">
                  <svg class="header__icon">
                      <use xlink:href="assets/img/sprite.svg#icon-cart"></use>
                  </svg>
              </div>
            </a>

        </div>

    </header>

<router-outlet></router-outlet>
