
    <header class="header">
            
        <div class="header__items">
            <div class="header__logo">
                <a routerLinkActive="active" routerLink="/home"> <img src="../assets/chandelier.png" alt="logo" class ="logo"> </a>
            </div>
            <a routerLinkActive="active" routerLink="/admin"> Admin</a>
            <a routerLinkActive="active" routerLink="/info">Contact Us</a>
            <a routerLinkActive="active" routerLink="/shop">Shop</a>
      
        </div>


        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="Search items">
            <button class="search__button">
                <svg class="search__icon">
                    <use xlink:href="../assets/img/sprite.svg#icon-search"></use>
                </svg>
            </button>
        </form>

        <div class="js-signin-modal-trigger header__login">
            <div><a href="home#0" data-signin="login">Sign in</a> </div>
            <div><a href="home#0" data-signin="signup">Sign up</a></div>
        </div>
        <div class="header__icons">
            
            <div class="header__icons-box dropdown">
                <svg class="header__icon dropbtn">
                    <use xlink:href="../assets/img/sprite.svg#icon-user1"></use>
                </svg>
                <div class="dropdown-content">
                    <a routerLinkActive="active" routerLink="/myProfile">My profile</a>
                    <a routerLinkActive="active" routerLink="/myOrder">My orders</a>
                    <a routerLinkActive="active" routerLink="/logout">Log out</a>
                
                </div>
            </div>

            <a routerLinkActive="active" routerLink="/cart">
              <div class="header__icons-box">
                  <svg class="header__icon">
                      <use xlink:href="../assets/img/sprite.svg#icon-cart"></use>
                  </svg>
              </div>
            </a>

        </div>

    </header>
<router-outlet></router-outlet>

 