<nav class="navbar">
  <div class="type">
    <button (click)="onAntiqueClick()"> <a routerLinkActive="active" routerLink="/shop">Antiques</a> </button>
    <ul class="categories">
      <li class="categories__item"><a href="#" class="categories__link" >Kitchen</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Sofa</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Bed</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Lamps</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Figures</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Painting</a></li>
    </ul>
  </div>
  
  <div class="type" >
    <button (click)="onFashionClick()"> <a routerLinkActive="active" routerLink="/home"> Fashion</a> </button>
    <ul class="categories">
      <li class="categories__item"><a href="#" class="categories__link">Dress</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Top</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Bottom</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Accessories</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Shoes</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Bag</a></li>
    </ul>
  </div>
  
  <div class="legal">
      &copy; 2018 by Christine. All rights reserved. 
  </div>
</nav>