<div class="shop-main">
    <app-navbar></app-navbar>

  <div class="shop-view">
     {{ type }}
    <div class="shop-view__each" *ngFor="let item of items | itemFilter: type">
      <a routerLinkActive="active" routerLink="/item" (click) = "onClick(item)">
        <div class="shop-view__each--img-1"><img src="assets/img/frame.png" alt=""></div>
        <div class="shop-view__each--img-2"><img src="assets/img/frame-2.png" alt=""></div>
        
        <div class="shop-view__detail">
          <div class="shop-view__detail--name"> {{ item.name }} </div>
          <div class="shop-view__detail--comment"> {{ item.detail}} </div>
          <div class="shop-view__detail--price"> {{ item.price }} </div>
          <div class="shop-view__detail--category"> {{ item.category }} </div>

        </div>
      </a>
    </div>
  </div>         
</div>