<div class="shop-main">
    <nav class="navbar">
        <div class="type">
          <button (click)="onAntiqueClick()"> Antiques </button>
          <ul class="categories">
            <li class="categories__item"><a href="#" class="categories__link" >Kitchen</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Sofa</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Bed</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Lamps</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Figures</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Painting</a></li>
          </ul>
        </div>
        
        <div class="type" >
          <button (click)="onFashionClick()"> Fashion </button>
          <ul class="categories">
            <li class="categories__item"><a href="#" class="categories__link">Dress</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Top</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Bottom</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Accessories</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Shoes</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Bag</a></li>
          </ul>
        </div>
        
        <div class="legal">
            &copy; 2018 by Christine. All rights reserved. 
        </div>
      </nav>

  <div class="shop-view">
     {{ type }}
    <div class="shop-view__each" *ngFor="let item of items | itemFilter: type || 'all' ">
      <a routerLinkActive="active" routerLink="/item">
        <div class="shop-view__each--img-1"><img src="../../assets/img/frame.png" alt=""></div>
        <div class="shop-view__each--img-2"><img src="../../assets/img/frame-2.png" alt=""></div>
        
        <div class="shop-view__detail">
          <div class="shop-view__detail--name"> {{ item.name }} </div>
          <div class="shop-view__detail--comment"> {{ item.detail}} </div>
          <div class="shop-view__detail--price"> {{ item.price }} </div>
          <div class="shop-view__detail--category"> {{ item.category }} </div>

        </div>
      </a>
    </div>
  </div>         
</div>