<div class="home-view">
  <div class="sign-view">
      <form>
          <h2 class="sign-view__h2">Sign Up</h2>
          <input type="text" [(ngModel)]="user.username" placeholder="User ID" name="username" class="sign-view__input"><br>
          <input type="text" [(ngModel)]="user.password" placeholder="Password" name="password" class="sign-view__input"><br>
          <input type="text" [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" class="sign-view__input"><br>
          <input type="text" [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" class="sign-view__input"><br>
          <input type="text" [(ngModel)]="user.email" placeholder="Email" name="email" class="sign-view__input" id="email"><br>
          <input type="text" [(ngModel)]="user.phone" placeholder="Phone Number" name="phone" class="sign-view__input"><br>
          <button class="btn btn-success sign-view__btn" (click)="createUser()">Create</button>
      </form>
    
  </div>
</div>