<div class="shop-main">
      <nav class="navbar">
          <div class="type">Antiques
            <ul class="categories">
              <li class="categories__item"><a href="#" class="categories__link">Kitchen</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Sofa</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Bed</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Lamps</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Figures</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Painting</a></li>
            </ul>
          </div>
          
          <div class="type">Fashion
            <ul class="categories">
              <li class="categories__item"><a href="#" class="categories__link">Dress</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Top</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Bottom</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Accessories</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Shoes</a></li>
              <li class="categories__item"><a href="#" class="categories__link">Bag</a></li>
            </ul>
          </div>
        </nav>

  <div class="shop-view">

    <div class="shop-view__each" *ngFor="let price of prices">
      <a routerLinkActive="active" routerLink="/item">
        <div class="shop-view__each--img-1"><img src="../../assets/img/frame.png" alt=""></div>
        <div class="shop-view__each--img-2"><img src="../../assets/img/frame-2.png" alt=""></div>
        
        <div class="shop-view__detail">
            <div class="shop-view__detail--name"> Name </div>
          <div class="shop-view__detail--price"> {{ price }} </div>
          <div class="shop-view__detail--comment"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, autem. </div>
        </div>
      </a>
    </div>
  </div>
</div>