:root {
  --shadow: 0 2rem 6rem rgba(0,0,0,.5);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, rgba(54, 53, 53, 0.6), rgba(37, 39, 40, 0.6)), url("assets/img/csc-bg.jpg");
}

a {
  text-decoration: none;
  color: #6D5D4B;
}

.frame {
  background-color: #e8dfd7;
  max-width: 130rem;
  margin: 8rem auto;
  box-shadow: var(--shadow);
  min-height: 100rem;
}

.header {
  background-color: #d2c0b2;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 30rem;
}
.header__icons {
  display: flex;
  justify-content: space-evenly;
  min-width: 15rem;
}
.header__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #2f241c;
}
.header__login {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
}
.header__logo {
  width: 5rem;
  height: 5rem;
}

.navbar {
  background-image: linear-gradient(rgba(10, 7, 6, 0.93), rgba(47, 36, 28, 0.93));
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 0 0 18%;
  min-height: 100rem;
  color: #6D5D4B;
}

.shop-view__container {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
}

.item-view__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 80rem;
}

.logo {
  height: 4rem;
}

.user-nav__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #e8dfd7;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #e8dfd7;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #6D5D4B;
}
.search__input:focus + .search__button {
  background-color: #e8dfd7;
}
.search__button {
  border: none;
  background-color: #e8dfd7;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
}

.type {
  margin-top: 3.5rem;
  margin-left: 2.5rem;
  font-size: 2.5rem;
  color: #a68468;
  font-weight: 300;
}

.categories {
  font-size: 1.5rem;
  text-decoration: none;
}
.categories__link {
  color: #bca28d;
}

.legal {
  font-size: 1.2rem;
  color: #a68468;
  position: fixed;
  bottom: 0;
}

.shop-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5rem;
  grid-column-gap: 7rem;
  padding: 5rem;
}
.shop-view__each {
  display: block;
}
.shop-view__each--img-1 {
  display: inline-block;
}
.shop-view__each--img-2 {
  display: none;
}
.shop-view__each:hover .shop-view__each--img-1 {
  display: none;
}
.shop-view__each:hover .shop-view__each--img-2 {
  display: inline-block;
}
.shop-view__each:hover .shop-view__detail {
  transform: scale(1.05);
  transition: all 0.1s;
}
.shop-view__detail {
  color: #6D5D4B;
  display: grid;
  justify-items: start;
  margin-left: 2.4rem;
  width: 90%;
}
.shop-main {
  display: flex;
}

.item-view {
  display: grid;
  grid-template-columns: 50rem repeat(1, 37rem);
  grid-gap: 3.5rem;
  margin-left: 10rem;
  margin-top: 2rem;
}
.item-view__img {
  width: 100%;
}
.item-view__detail {
  margin-top: 5rem;
  padding: 2rem;
}
.item-view__detail--name {
  font-size: 2.2rem;
}
.item-view__detail--price {
  font-size: 1.9rem;
}
.item-view__detail--points {
  font-size: 1.4rem;
}
.item-view__detail--quantity {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.item-view__detail--label {
  font-size: 1.4rem;
  font-style: bold;
}
.item-view__detail--input {
  width: 15%;
}
.item-view__detail--btn {
  margin-top: 1.5rem;
}

.btn {
  background-color: #a68468;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #795d47;
}
.btn__icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 1rem;
  fill: #e8dfd7;
}

.heading-secondary {
  font-size: 3.5rem;
  margin-top: 2.5rem;
  margin-left: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #bca28d, #795d47);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.cart-view__each {
  display: flex;
  flex-direction: row;
}
.cart-view__each--img {
  margin-top: 3.5rem;
  width: 25rem;
}
.cart-view__each--name {
  margin-left: 1.5rem;
}
.cart-view__each--price {
  margin-left: 1.5rem;
}
.cart-view__each--comment {
  margin-left: 1.5rem;
}
.cart-view__each--quantity {
  margin-left: 1.5rem;
}
.cart-view__each--btn {
  margin-top: 1rem;
  margin-left: 1rem;
}

.division {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.division__2 {
  margin-top: 3rem;
  margin-left: 2rem;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
